body {
    font-family: 'quicksand';
    margin-top: 10px;
}

input {
    border-radius: 12px;
    width: 290px;
    height: 35px;
}

.buttons {
    margin: 15px 0;
}

#butao1, #butao2, #butao3 {
    margin-right: 20px;
    transition: transform 0.3s ease;
}

#butao1:hover, #butao2:hover, #butao3:hover {
    transform: scale(1.1);
}

/* Remove o contorno e a sombra ao clicar */
#butao1:focus, #butao2:focus, #butao3:focus {
    outline: none;
    box-shadow: none;
}

